extends layout.pug

block content
  .ui.middle.aligned.text.container
    h1 Oop! All authors are on the roads!

  
    .ui.three.column.grid
      .column
        .ui.fluid.card
          .image
            img(src='http://api.randomuser.me/portraits/thumb/men/33.jpg')
          .content
            .header Lasa Dama

      .column
        .ui.fluid.card
          .image
            img(src='http://api.randomuser.me/portraits/thumb/women/44.jpg')
          .content
            .header Susun Song

      .column
        .ui.fluid.card
          .image
            img(src='http://api.randomuser.me/portraits/thumb/men/55.jpg')
          .content
            .header Wugo Gppiom

      .column
        .ui.fluid.card
          .image
            img(src='http://api.randomuser.me/portraits/thumb/women/66.jpg')
          .content
            .header Juiss Uiid

      .column
        .ui.fluid.card
          .image
            img(src='http://api.randomuser.me/portraits/thumb/men/77.jpg')
          .content
            .header Dala Sou