extends layout.pug

block content 
	.ui.container
		.ui.piled.segment
			h2.ui.header
				img.ui.image(src=book.cover)
				=book.title
			p sdfsdfs sdj jdasdfsdfs sdj jdafioaj wqjerlkjqwjlkjljdslf jkl isdfgjlk fa  f sjkdflkasjfiosdfsdfs sdj jdafioaj wqjerlkjqwjlkjljdslf jkl isdfgjlk fa  f sjkdflkasjfiojsdfjsaljd  jals opqwueoi lsamdlkfmlaskdfjoiasjdfja fdfjsdfjsaljd  jals opqwueoi lsamdlkfmlaskdfjoiasjdfja fdffioaj wqjerlkjqwjlkjljdslf jkl isdfgjlk fa  f sjksdfsdfs sdj jdafioaj wqjerlkjqwjlkjljdslf jkl isdfgjlk fa  f sjkdflkasjfiojsdfjsaljd  jals opqwueoi lsamdlkfmlaskdfjoiasjdfja fdfsdfsdfs sdj jdafioaj wqjerlkjqwjlkjljdslf jkl isdfgjlk fa  f sjkdflkasjfiojsdfjsaljd  jals opqwueoi lsamdlkfmlaskdfjoiasjdfja fdfsdfsdfs sdj jdafioaj wqjerlkjqwjlkjljdslf jkl isdfgjlk fa  f sjkdflkasjfiojsdfjsaljd  jals opqwueoi lsamdlkfmlaskdfjoiasjdfja fdfsdfsdfs sdj jdafioaj wqjerlkjqwjlkjljdslf jkl isdfgjlk fa  f sjkdflkasjfiojsdfjsaljd  jals opqwueoi lsamdlkfmlaskdfjoiasjdfja fdfdflkasjfiojsdfjsaljd  jals opqwueoi lsamdlkfmlaskdfjoiasjdfja fdfsdfsdfs sdj jdafioaj wqjerlkjqwjlkjljdslf jkl isdfgjlk fa  f sjkdflkasjfiojsdfjsaljd  jals opqwueoi lsamdlkfmlaskdfjoiasjdfja fdfsdfsdfs sdj jdafioaj wqjerlkjqwjlkjljdslf jkl isdfgjlk fa  f sjkdflkasjfiojsdfjsaljd  jals opqwueoi lsamdlkfmlaskdfjoiasjdfja fdfsdfsdfs sdj jdafioaj wqjerlkjqwjlkjljdslf jkl isdfgjlk fa  f sjkdflkasjfiojsdfjsaljd  jals opqwueoi lsamdlkfmlaskdfjoiasjdfja fdf
