extends layout.pug

block content
	.ui.vertical.masthead.center.aligned.segment
		.ui.container.vertical.masthead.center.aligned
			.ui.text.container
			h1.ui My Love Books
			h2 Select the books you love.
			a.ui.huge.primary.button(href="/books") Get Started
				i.right.arrow.icon

	.ui.container
		.ui.internally.celled.grid
			.row
				.three.wide.center.aligned.column
					img.ui.middle.aligned.tiny.circular.image(
						src="http://api.randomuser.me/portraits/thumb/men/51.jpg")
				.thirteen.wide.middle.aligned.column
					h3 Repurpose Content to Reach a Wider Audience
					div long long ago
			.row
				.three.wide.center.aligned.column
					img.ui.middle.aligned.tiny.circular.image(
						src="http://api.randomuser.me/portraits/thumb/women/56.jpg")
				.thirteen.wide.middle.aligned.column
					h3 14 Content to Reach a Wider Audience
					div da la loag
			.row
				.three.wide.center.aligned.column
					img.ui.middle.aligned.tiny.circular.image(
						src="http://api.randomuser.me/portraits/thumb/men/29.jpg")
				.thirteen.wide.middle.aligned.column
					h3 Con tesdfu nt to Reach a Wsdfdgh
					div mago gosg ogo